<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Forgot Password</title>
</head>
<body>
  <h1>Forgot Password</h1>

  <% if (error) { %>
    <p style="color:red;"><%= error %></p>
  <% } %>

  <form action="/forgot-password" method="POST">
    <div>
      <label>Email</label><br>
      <input type="email" name="email" required>
    </div>
    <br>

    <button type="submit">Create Reset Link</button>
  </form>

  <p><a href="/">Home</a></p>
  <p><a href="/login">Login</a></p>
  <%- include('../partials/csrf-script') %>
</body>
</html>